# The full dir used by direnv
.direnv/
# In any dir
__pycache__/

# We have the .gitkeep in this dir versioned, but after that we ignore all the
# files in this dir since we can always regenerate it.
doc/app-docs

# Never version .env_local
.env_local

# uTemplate compiled templates
app/templates/*.py
