### Production requirements ###

#-- ORM --
peewee==3.17.9
# PostgreSQL driver for peewee
# This requires libpq-dev to be installed
#psycopg2==2.9.10
# This does not require libpg-dev, but is not recommended for production
psycopg2-binary==2.9.10

#-- API/Web Server --
microdot==2.1.0
# This can currently no be installed from PyPi. See:
# https://github.com/pfalcon/utemplate/issues/16#issuecomment-776708917
git+https://github.com/pfalcon/utemplate.git#egg=utemplate
uvicorn==0.34.0

# This is only needed for development to allow uvicorn to reload on file
# changes.
# TODO: find a way to only install in a dev environment and not prod
watchfiles=1.0.5

# -- Environment --
python-dotenv==1.0.1

