{% args bats %}
<table data-name="batteries" class="sortable">
  <caption>
    Batteries
  </caption>
  <thead>
    <tr>
      <th colspan=2 style="text-align: center;">Battery ID</th>
      <th data-sort-col="2">Dim</th>
      <th data-sort-col="3">Measure Date</th>
      <th data-sort-col="4"><strong>Capacity</strong></th>
      <th data-sort-col="5">Accuracy</th>
      <th data-sort-col="6">Measures</th>
      <th data-sort-col="7">Pack</th>
    </tr>
  </thead>
  <tbody>
    {% for b in bats %}
    <tr>
      <td style="padding-right: 1px;">
        <a href="{{ b['bat_id'] }}/">
          {{ b['bat_id'] }}
        </a>
      </td>
      <td style="padding: 0px; text-align: center;">
        {% if b['has_img'] %}
        <a href="{{ b['bat_id'] }}/">
          <img class="small-bat-img" src="{{ b['bat_id'] }}/img">
        </a>
        {% endif %}
      </td>
      <td>{{ b['dimension'] or '' }}</td>
      <td>{{ b['cap_date'] }}</td>
      <td data-sort="{{ b['mah'] }}"><strong>{{ b['mah'] }}mAh</strong></td>
      <td data-sort="{{ b['accuracy'] }}">{{ b['accuracy'] }}%</td>
      <td data-sort="{{ b['h_count'] }}">{{ b['h_count'] }}</td>
      <td class="t-left">
      {% if b['pack'] %}
        <a
          class="truncate"
          style="width: 3.5rem"
          href="/pack/build/{{b['pack']}}/"
        >{{ b['pack_name'] }}</a>
      {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>


