{% args bat, hist, err %}
{% if err %}
<h2>Error</h2>
<p>{{ err }}</p>
{% else %}
<h3>Battery Capacity Measurement History</h3>

<section class="container">
  <ul class="bat-cap">
    <li><strong>Battery ID</strong>: {{ bat['bat_id'] }}</li>
    <li><strong>Capacity</strong>: {{ bat['mah'] }}mAh</li>
    <li><strong>Measure Date</strong>: {{ bat['cap_date'] }}</li>
    <li>
      <strong>Internal Resistance</strong>:
      <!-- Block to manage inline editing of the Internal Restistance -->
      <span
        class="ir-block"
        hx-target="span.ir-value span.val"
        hx-swap="innerHTML"
        _="-- Hide the normal IR value display and show the edit form when
           -- clicking the edit button.
           on click from .edit-ir in me
             add .hidden to .ir-value
             remove .hidden from .ir-edit
           end

           -- Hide the edit form and show the IR value on clicking
           -- cancel.
           on click from .cancel in me
              add .hidden to .ir-edit
              remove .hidden from .ir-value
            end

           -- When we return from submitting the form, we swap the edit and
           -- view dim element back again.
           on htmx:afterRequest from .ir-edit
              add .hidden to .ir-edit
              remove .hidden from .ir-value
           end
        "
      >

        <!-- Normal IR display mode, with edit icon -->
        <span class="ir-value">
          <span class="val">
            {{ f"{bat['ir']}mΩ ({bat['ir_created'].split(' ')[0]})" if bat['ir'] is not None else '(not set)' }}
          </span>
          &nbsp;
          <svg
            class='edit-ir button'
            width="16"
            height="16"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <use xlink:href="/feather-sprite.svg#edit" />
          </svg>
        </span>

        <!-- The edit mode for the dimension - shown when the edit icon is clicked -->
        <form
          class="ir-edit hidden"
          hx-post="?update=ir"
        >

          <input 
              type="text"
              name="ir"
              value="{{bat['ir'] or ''}}"
              list="ir-list"
              required
          >mΩ
          
          &nbsp;

          <button type="submit" name="action" value="new">
            <svg
              class='new button'
              width="16"
              height="16"
              title="Add new IR measurement"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <use xlink:href="/feather-sprite.svg#file-plus" />
            </svg>
          </button>

          &nbsp;

          <button type="submit" name="action" value="update">
            <svg
              class='update button'
              width="16"
              height="16"
              title="Update the current IR measurement"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <use xlink:href="/feather-sprite.svg#save" />
            </svg>
          </button>

          &nbsp;

          <svg
            class='cancel button'
            width="16"
            height="16"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <use xlink:href="/feather-sprite.svg#x-square" />
          </svg>
        </form>

      </span>
    </li>
    <li>
      <strong>Dimension</strong>:
      <!-- Block to manage inline editing of the dimension -->
      <span
        class="dim-block"
        hx-target="span.dim-value span.val"
        hx-swap="innerHTML"
        _="-- Submit the form when clicking the save SVG
           on click from .save in me
              trigger submit() on the <form/> in me
           end

           -- Hide the edit form and show the dimension value on clicking
           -- cancel.
           on click from .cancel in me
              add .hidden to .dim-edit
              remove .hidden from .dim-value
            end

           -- Clicking the edit button, it will go fetch a list of currently
           -- known battery dimensions, and swap it into the .dims-list datalist.
           -- After this has nee swapped in, is our cue to then hide the
           -- .dim-value and show the edit form for editing the value.
           on htmx:afterSwap from .dims-list
             add .hidden to .dim-value
             remove .hidden from .dim-edit
           end

           -- When we return from submitting the form, we swap the edit and
           -- view dim element back again.
           on htmx:afterRequest from .dim-edit
              add .hidden to .dim-edit
              remove .hidden from .dim-value
           end
        "
      >

        <!-- Normal dimension display mode, with edit icon -->
        <span class="dim-value">
          <span class="val">{{ bat['dimension'] or '(not set)' }}</span>
          &nbsp;
          <svg
            class='edit-dim button'
            width="16"
            height="16"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            hx-trigger="click"
            hx-get="/bat/knownDims"
            hx-target=".dims-list"
            hx-swap="innerHTML"
          >
            <use xlink:href="/feather-sprite.svg#edit" />
          </svg>
        </span>

        <!-- The edit mode for the dimension - shown when the edit icon is clicked -->
        <form
          class="dim-edit hidden"
          hx-post="?update=dimension"
        >

          <input 
              type="text"
              name="dimension"
              value="{{bat['dimension'] or ''}}"
              list="dims-list"
              required
          >
          <datalist
              id="dims-list"
              class="dims-list"
          >
          </datalist>

          &nbsp;

          <svg
            class='save button'
            width="16"
            height="16"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <use xlink:href="/feather-sprite.svg#check-square" />
          </svg>

          &nbsp;

          <svg
            class='cancel button'
            width="16"
            height="16"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <use xlink:href="/feather-sprite.svg#x-square" />
          </svg>
        </form>

      </span>
    </li>
    <li><strong>Placement</strong>: {{ bat['placement'] or '' }}</li>
  </ul>

  <div
    class="bat-image-trigger"
    onclick="takeBatPic();"
  >
    {% if bat['has_image'] %}
    <img class="bat-image" src="img" alt="battery image">
    {% else %}
    <svg
      class='bat-camera'
      width="48"
      height="48"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <use xlink:href="/feather-sprite.svg#camera" />
    </svg>
    {% endif %}
  </div>

</section>

<table data-name="battery_history">
  <caption>
    Measurement History
  </caption>
  <thead>
    <tr>
      <th>Measure Date</th>
      <th>Measure UID</th>
      <th>Controller</th>
      <th><strong>Capacity</strong></th>
      <th>Accuracy</th>
      <th>Events</th>
    </tr>
  </thead>
  <tbody>
    {% for h in hist %}
    <tr>
      <td>{{ h['cap_date'] }}</td>
      <td>
        <a href="{{ h['soc_uid'] }}/">{{ h['soc_uid'] }}</a>

        <a href="/event_summary/?soc_uid={{h['soc_uid']}}">
          <svg
            class='event-eye'
            width="16"
            height="16"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <use xlink:href="/feather-sprite.svg#eye" />
          </svg>
        </a>

      </td>
      <td>{{ h['bc_name'] }}</td>
      <td><strong>{{ h['mah'] }}mAh</strong></td>
      <td>{{ h['accuracy'] }}%</td>
      <td>{{ h['num_events'] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
