{% args state_dat %}
<h3>BCM State</h3>

<!-- Refresh Button -->
<div class="refresher" title="Refresh page">⟳<span class="count"></span></div>

<table data-name="bcm_active" class="sortable active">
  <caption>
    Active BCs
  </caption>
  <thead>
    <tr>
      <th style="text-align: left">BC</th>
      <th>Timestamp</th>
      <th>State</th>
      <th>Battery ID</th>
      <th>Voltage</th>
      <th>Current</th>
      <th>mAh</th>
      <th>Period</th>
      <th>SoC State</th>
      <th>SoC UID</th>
      <th>Cycle</th>
    </tr>
  </thead>
  <tbody>
    {% for bc in state_dat['active'] %}
    <tr>
      {% set cycle = f"{bc['soc_cycle']}/{bc['soc_cycles']}" if bc['soc_cycles'] else '' %}
      <td style="text-align: left">{{ bc['bc_name'] }}</td>
      <td>{{ bc['created'] }}</td>
      <td>{{ bc['state'] }}</td>
      <td>{{ bc['bat_id'] }}</td>
      <td>{{ bc['bat_v'] }}</td>
      <td>{{ bc['current'] }}</td>
      <td>{{ bc['mah'] }}</td>
      <td>{{ bc['period'] }}</td>
      <td>{{ bc['soc_state'] }}</td>
      <td>{{ bc['soc_uid'] }}</td>
      <td>{{ cycle }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<table data-name="bcm_inactive" class="sortable inactive">
  <caption>
    Inactive BCs
  </caption>
  <thead>
    <tr>
      <th style="text-align: left">BC</th>
      <th>Timestamp</th>
      <th>State</th>
      <th>Battery ID</th>
      <th>Voltage</th>
      <th>Current</th>
      <th>mAh</th>
      <th>Period</th>
      <th>SoC State</th>
      <th>SoC UID</th>
      <th>Cycle</th>
    </tr>
  </thead>
  <tbody>
    {% for bc in state_dat['inactive'] %}
    <tr>
      {% set cycle = f"{bc['soc_cycle']}/{bc['soc_cycles']}" if bc['soc_cycles'] else '' %}
      <td style="text-align: left">{{ bc['bc_name'] }}</td>
      <td>{{ bc['created'] }}</td>
      <td>{{ bc['state'] }}</td>
      <td>{{ bc['bat_id'] }}</td>
      <td>{{ bc['bat_v'] }}</td>
      <td>{{ bc['current'] }}</td>
      <td>{{ bc['mah'] }}</td>
      <td>{{ bc['period'] }}</td>
      <td>{{ bc['soc_state'] }}</td>
      <td>{{ bc['soc_uid'] }}</td>
      <td>{{ cycle }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<script>
  const refreshBtn = document.querySelector('div.refresher');
  const count = refreshBtn.querySelector("span.count");
  let counter = 10; // seconds

  function updateLabel() {
    count.textContent = `${counter}`;
  }

  // Initial label
  updateLabel();

  // Countdown
  const timer = setInterval(() => {
    counter -= 1;
    if (counter <= 0) {
      location.reload();
    } else {
      updateLabel();
    }
  }, 1000);

  // Manual click to refresh now
  refreshBtn.addEventListener('click', () => {
    location.reload();
  });
</script>
