{% args bat_events, bat_id %}
{% if bat_events %}
<table data-name="bat_events">
  <caption>SoC events for Battery ID: {{ bat_id }}</caption>
    <thead>
        <tr>
            <th>Time</th>
            <th>State</th>
            <th>SoC UID</th>
            <th>SOC State</th>
            <th>Events</th>
        </tr>
    </thead>
    <tbody>
    {% for e in bat_events %}
      <tr>
        <td>{{ e['event_time'] }}</td>
        <td>{{ e['state'] }}</td>
        <td>
        {% if e['soc_uid'] %}
        <a
          href="{{ e['soc_uid'] }}/measure/"
          hx-push-url="false"
        >{{ e['soc_uid'] }}</a>
        {% endif %}
        </td>
        <td>{{ e['soc_state'] }}</td>
        <td>
          {{ e['event_count'] }}
          {% if e['event_count'] == 1 and e['soc_state'] == "Charging" %}
          <!-- There are at times an additional stray "Charge" event at the end
            of a measurement cycle. This throws the count of event groups out
            for recording this as a battery measurement. Although we can not
            pinpoint which these are exactly, we do know that they will have
            only one event_count and the soc_state will be "Charging". For
            these events we add this option to delete it, and allow the user to
            make the decision, if any. -->
          <a
            href="del_extra/{{ e['id_start'] }}"
            class='rec_delete'
            hx-push-url="false"
            data-confirm-title="Confirm Event Deletion"
            hx-confirm="If you delete the wrong event here, the measurement can
                        be made invalid.<br>Are you sure you want to continue?"
          >✗</a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="5">
          <div class="grid" style="margin: 1rem;">
            <button
              class="bad-action outline contrast"
              data-confirm-title="Confirm Events Deletion"
              hx-confirm="Once deleted, these events can not be recovered again.
                          <br>Are you sure you want to continue?"
              hx-get="del_events"
              hx-target="closest div"
              hx-swap="innerHTML"
            >Delete all these events</button>
          </div>
          <hr />
        </td>
      </tr>
    </tfoot>
</table>
{% else %}
<p>No unallocated events found for battery ID {{ bat_id }}</p>
{% endif %}
