{% args content, version, bat_img_max_sz, theme=None %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark">

    <!-- Include Pico.css : https://picocss.com/ -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.{{ theme + "." if theme else "" }}min.css"
    >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css" >

    <!-- HTMX : https://htmx.org/ -->
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>

    <!-- Hyperscript: https://hyperscript.org/ -->
    <script src="https://unpkg.com/hyperscript.org@0.9.14"></script>

    <!-- Charting apps -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@^3"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@^2"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@^1"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@2.0.1/dist/chartjs-plugin-zoom.min.js"></script>

    <!-- Table sorting plugins: https://github.com/tofsjonas/sortable-->
    <link
    href="https://cdn.jsdelivr.net/gh/tofsjonas/sortable@latest/dist/sortable-base.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/gh/tofsjonas/sortable@latest/dist/sortable.min.js"></script>
    <!-- Table searchable plugins: https://github.com/tofsjonas/searchable-->
    <link href="https://cdn.jsdelivr.net/gh/tofsjonas/searchable@latest/dist/searchable.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/gh/tofsjonas/searchable@latest/dist/searchable.min.js"></script>

    <!-- Label OCR -->
    <script src='https://cdn.jsdelivr.net/npm/tesseract.js@6/dist/tesseract.min.js'></script>

    <!-- Image cropping -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.1.3/cropper.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.1.3/cropper.js"></script>

    <!-- Local app styles and scripts -->
    <link rel="stylesheet" href="/styles.css">
    <script src="/htmx-pico-confirm.js"></script>
    <script src="/app.js"></script>

    <title>
      Battery Capacity Meter UI
    </title>
  </head>
  <body>

    <!-- Header -->
    <header class="container header">
      <a href="/"><img class='logo' src='/battery-animated.gif' alt="logo"></a>
      <h1>
        Battery Capacity Meter
      </h1>
      <form action="/bat/" method="get">
        <input
          class="battery-search"
          type="search"
          name="search"
          placeholder="bat id or part"
        >
        <button type="button" class="scan-label" onclick="scanLabel();">⛶</button>
      </form>
      <span class="version">v{{ version }}</span>
    </header>

    <div
      class="container layout"
      hx-boost="true"
      hx-target=".main-content"
      hx-indicator=".htmx-indicator">

      <!-- Navigation Sidebar -->
      <aside>
        <nav class="nav-menu">
          <h4 class="title t-center">
            Menu
          </h4>

          <ul>
            <li>
              <a href="/events/">Events</a>
            </li>

            <li>
              <a href="/bcm_state/">State</a>
            </li>

            <li>
              <a href="/bat/">Batteries</a>
            </li>

            <li>
              <a href="/calibration/">BC Calibration</a>
            </li>

            <li>
              <a href="/pack/">Battery Packs</a>
            </li>

            <li>
              <a href="/logs/">Logs</a>
            </li>
          </ul>
        </nav>
      </aside>

      <!-- Spinner loader overlay -->
      <div class="htmx-indicator loading-overlay" aria-hidden="true">
        <svg class="spinner t-center" viewBox="0 0 50 50">
          <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
        </svg>
      </div>

      <!-- Main Content Area -->
      <main class='t-center'>
        <div
          class="msg-flash"
          _="on htmx:afterSwap
                add .visible to me
                  then wait for click or 5000 ms
                  then add .slide-out to me
                -- The slide out anumation will now start, and then we wait for
                -- it to complete
                on animationend
                  remove .visible from me
                  remove .slide-out from me
             end
          "
        ></div>
        <div class="main-content">
          {% if content %} {{ content }} {% else %}
          <div class="welcome t-left">
            <h3>
              Welcome to the Battery Capacity Meter UI.
            </h3>

            <p>
              Use the menu on the left to navigate to the main sections:
            </p>

            <article>
              <header><strong>Events</strong></header>
              These are raw measurements that have been received from the Battery
              Capacity Meter(s).
              <br>
              From here you will be able to allocate measurement cycles to the
              battery, and clean up all unneeded remaining events.
            </article>

            <article>
              <header><strong>State</strong></header>
              This shows the current <strong>active</strong> and/or last know
              <strong>inactive</strong> state of all Battery Controllers.
              <br>
              This view is useful to see the current BCM state at a glace.
            </article>

            <article>
              <header><strong>Batteries</strong></header>
              This is where you can view all known measured batteries.
              <br>
              For each battery you will be able to view all linked measurement
              cycles, plot graphs of the measure events, view and add an image
              for the battery, etc.
            </article>

            <article>
              <header><strong>BC Calibration</strong></header>
              <p>
                This will allow viewing all calibration info for all known
                <strong>Battery Controllers</strong> (BCs).
              </p>

              <p>
                A <strong>BC</strong> is calibrated by adjusting the shunt
                resistor values used for measuring the charge and discharge
                current. These measured currents are the basis for measuring
                the battery capacity. The more accurate the shunt calibrations,
                the more accurate the capacity measurements will be.
              </p>

              <p>
                There are different factors that influences the current flow
                which means that the shunt values for charge and discharge will
                be different, but the important thing is that if they are
                calibrated correctly, the current flowing and the current
                measured during charge or discharge will be accurate.
              </p>
              <p>
                Once this is achieved, it means that the amount of charge
                measured for both charge and discharge cycles should be very
                close. The difference between the charge and discharge measures
                are used to calculate the overall BC calibration accuracy. The
                closer these values are, the closer to 100% the accuracy value
                will be.
              </p>
            </article>

            <article>
              <header><strong>Battery Packs</strong></header>
              This options allows viewing existing battery packs, or creating
              new ones.
              <br>
              A Battery pack is a collection of batteries grouped in serial and
              parallel sets to make a new battery with a nominal voltage as
              defined by the number of cells in series: 

              <pre>V<sub>nom</sub> = 3.6v x Serial<sub>n</sub></pre>

              One or more serial sets can then be grouped in parallel to
              increase the total pack capacity.
            </article>

            <article>
              <header><strong>Logs</strong></header>
              These are all messages published by the charge/discharge controller
              telemetry as log messages on the <code>BCM/log</code> topic.
              <br>
              They help debugging issues that may occur during capacity
              measurements, but need to be cleaned up (from the <code>Clean
              Up</code> link on the Log view) for time to time.
            </article>

            Other:

            <article>
              <header><strong>Search</strong></header>
              Search for any Battery by ID using the search box in the top
              header. The ID could be typed, or the scanner can be used to scan
              the battery ID label and OCR will then try to recognise the ID
              from the label and auto search for the battery.
              <br/>
              This will also find all entries where the search string only
              matches part of the ID.
            </article>

          </div>

          {% endif %}
        </div>
      </main>
    </div>

    <!-- Battery Image Modal (Initially hidden) -->
    <dialog class="bat-img modal">
      <article class='t-center'>
        <header>
          <h3>Battery Image Capture</h3>
          <button class="close" aria-label="Close" data-cancel></button>
        </header>

        <main class="body">
          <div class="video-wrapper" data-max-size="{{ bat_img_max_sz }}">
            <video class="cam-stream" autoplay playsinline></video>
            <canvas class="cam-canvas" hidden></canvas>
          </div>
        </main>

        <div class="msg error-msg" hidden></div>
        
        <footer>
          <button class="btn-capture" hidden>Take Pic</button>
          <button class="btn-save" hidden>Save</button>
          <button class="btn-crop" hidden>Crop</button>
          <button class="btn-rotate left" hidden><span class="u-icon">↺</span></button>
          <button class="btn-rotate right" hidden><span class="u-icon">↻</span></button>
          <button class="btn-apply" hidden>Apply</button>
          <button class="btn-back" hidden>Back</button>
          <button class="btn-cancel" data-cancel>Cancel</button>
        </footer>
      </article>
    </dialog>

    <!-- Dialog for scanning a battery label by the webcam to find search -->
    <dialog class="scan-label modal">
      <article class='t-center'>
        <header>
          <h3>Scan Label</h3>
          <button class="close" aria-label="Close" onclick="closeScanLabel();"></button>
        </header>

        <video autoplay muted playsinline style="width: 100%; height: auto;"></video>
        <canvas style="display: none;"></canvas>

        <p class="help">Hold battery label up to camera…</p>
        <p class="seeing">Seeing: <span></span></p>
      </article>
    </dialog>

  </body>
</html>
